﻿@model Vpt_Blogs.Models.AuthorMasterList
<!DOCTYPE html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

<script>
	$(document).ready(function () {
        $('.ChangeAuthorStatus').bind('change', function () {
			var Id = $(this).attr('id');
			var status = $(this).attr('rel');
			if (status != '') {
				if (Id != "") {
					$.ajax({
                        url: '@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]/Account/ChangeAuthorStatus?Id=' + Id + '&&Status=' + status,
						type: "GET",
						contentType: false,
						processData: false,
						success: function (result) {
							if (result != null) {
							} else { alert("status not changed .") }

						},
						error: function (err) {
							alert(err.statusText);
						}
					});

				}
			}
		});
        $('#AuthorMasterList').DataTable();
	});
</script>
<script>
    function previewFile(input) {
        debugger;
        var file = $("input[type=file]").get(0).files[0];
        var fname = $("#filename").html(file.name);
        if (file) {
            var reader = new FileReader();

            reader.onload = function () {
                $("#previewImg").attr("src", reader.result);
            }

            reader.readAsDataURL(file);
        }
    }
    
</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @if (TempData["success"] != null)
    {
        <div class="alert alert-success" style="margin-top:30px !important; width:400px !important;">
            @TempData["success"]
        </div>
    }
    @if (TempData["danger"] != null)
    {
        <div class="alert alert-danger" style="margin-top:30px !important; width:400px !important;">
            @TempData["danger"]
        </div>
    }
    <title>AddAuthor</title>
</head>
<body>
    <div class="card" style="border:none">
        <div class="card-body">
            <div class="row">
                <div>
                    @using (Html.BeginForm("AddAuthor", "Account", FormMethod.Post, new { @id = "Form1", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Author Name</label>
                                @Html.HiddenFor(model => model.Id, new { @class = "form-control" })
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Author Name", id = "Author", @name = "Author" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "error", @style = "color:red" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Designation</label>
                                @Html.TextBoxFor(model => model.Designation, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "error", @style = "color:red" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>FacebookUrl</label>
                                @Html.TextBoxFor(model => model.FacebookUrl, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FacebookUrl, "", new { @class = "error", @style = "color:red" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>TwitterUrl</label>
                                @Html.TextBoxFor(model => model.TwitterUrl, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TwitterUrl, "", new { @class = "error", @style = "color:red" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>LinkedInUrl</label>
                                @Html.TextBoxFor(model => model.LinkedInUrl, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LinkedInUrl, "", new { @class = "error", @style = "color:red" })
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="form-group upload-div">
                                <div class="upload-btn-wrapper">
                                    <button id="photo1" class="btn">Upload a file</button>
                                    @Html.TextBoxFor(m => m.Image, new { type = "file", name = "photo", id = "photo", onchange = "previewFile(this)" })
                                    @*<span id="filename">filename</span>*@
                                    @Html.ValidationMessageFor(m => m.Image, "", new { @class = "error", @style = "color:red" })
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>AboutAuthor</label>
                                @Html.TextAreaFor(model => model.AboutAuthor, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AboutAuthor, "", new { @class = "error", @style = "color:red" })
                            </div>
                        </div>

                        <div class="col-md-4 text-center">
                            <div class="form-group text-left">
                                <button type="submit" value="Submit" class="btn btn-danger">Submit</button>
                            </div>
                        </div>

                    </div>
                    }
                </div>

                
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h6 class="panel-title txt-dark mt-20 mb-4">List of Authors</h6>
                    <div class="table-responsive">
                        <table class="table" id="AuthorMasterList">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Author Name</th>
                                    <th>Designation</th>
                                    <th>FacebookUrl</th>
                                    <th>TwitterUrl</th>
                                    <th>LinkedInUrl</th>
                                    <th>AboutAuthor</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.AuthorList != null && Model.AuthorList.Count() > 0)
                                {
                                    foreach (var item in Model.AuthorList)
                                    {

                                <tr>
                                    <td><img src="@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]/UploadedAuthorImages/@item.imageFile" id="previewImg" class="max-minHeight border-r5" /></td>
                                    <td>@item.Name</td>
                                    <td>@item.Designation</td>
                                    <td>@item.FacebookUrl</td>
                                    <td>@item.TwitterUrl</td>
                                    <td>@item.LinkedInUrl</td>
                                    <td>@item.AboutAuthor</td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" data-toggle="toggle" class="ChangeAuthorStatus" id="@item.Id" rel="@Convert.ToInt32(item.Status == true ? 0 : 1)" data-on="Published"
                                                   checked="@item.Status" data-off="Un-Published" data-onstyle="success" data-offstyle="danger">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <a href="@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]/Account/EditAuthor?Id=@item.Id">
                                            <i class="bx bx-edit-alt mr-3"></i>
                                        </a>
                                    </td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
