﻿@model IEnumerable<Vpt_Blogs.Models.AddBlogModel>

@{
	ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

<script>
	$(document).ready(function () {
		$('.blogStatus').bind('change', function () {
			var Id = $(this).attr('id');
			var status = $(this).attr('rel');
			if (status != '') {
				if (Id != "") {
					$.ajax({
						url: '@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]/Account/ChangeBlogStatus?Id=' + Id + '&&Status=' + status,
						type: "GET",
						contentType: false,
						processData: false,
						success: function (result) {
							if (result != null) {
							} else { alert("status not changed .") }

						},
						error: function (err) {
							alert(err.statusText);
						}
					});

				}
			}
		});
		$('#blogList').DataTable();
	});
</script>

<!DOCTYPE html>
<h5>Blog List</h5>
<div class="table-responsive">
	<table class="table" id="blogList">
		<thead>
			<tr class="text-center">
				@*<th class="wd-5">#</th>*@
				<th class="wd-5">Thumbnail</th>
				<th class="wd-50">Title</th>
				<th class="wd-10">Posted On</th>
				<th class="wd-10">Posted By</th>
				<th class="wd-10">Status</th>
				<th class="wd-10">Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr class="text-center">
					@*<td>@item.id</td>*@
					<td><img src="@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]/UploadedBlogImages/@item.imageFile" /></td>
					<td>@item.title</td>
					<td>@item.createdDate.ToString(" MMM dd, yyyy")</td>
					<td>@item.author</td>
					<td>
						<label class="switch">
							<input type="checkbox" data-toggle="toggle" class="blogStatus" id="@item.id" rel="@Convert.ToInt32(item.status == true ? 0 : 1)" data-on="Published"
								   checked="@item.status" data-off="Un-Published" data-onstyle="success" data-offstyle="danger">
							<span class="slider round"></span>
						</label>
					</td>
					<td>
						<a href="@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]/Account/Edit?Id=@item.id">
							<i class="bx bx-edit-alt mr-3"></i>
						</a>
						<a href="@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]/blogs/@item.key" target="_blank">
							<i class="bx bx-desktop text-danger mr-3"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>


