﻿@model Vpt_Blogs.Models.LoginViewModel

@{
	Layout = null;
}

@{
	ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Brand Protection, Brand Compliance Monitoring Tools | Virus Positive Technologies</title>
	<base href="/">
	<!-- <base href="/staging/"> -->
	<meta name="description"
		  content="We provide brand protection monitoring tools to enhance your customer journey &amp; secure your lost revenues from Paid advertising. Enquire now to discuss your brand protection needs!">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		  integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
		  rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- <link rel="icon" type="image/png" href="favicon.png"> -->

	<link rel="preconnect" href="https://fonts.gstatic.com">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-208572302-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-208572302-1');
	</script>

	<style>
		.top-header-area {
			background-color: #f5f5f5;
			padding-top: 12px;
			padding-bottom: 12px;
		}

		.align-items-center {
			align-items: center !important;
		}

		.top-header-contact-info {
			padding-left: 0;
			margin-bottom: 0;
			list-style-type: none;
		}

			.top-header-contact-info li {
				display: inline-block;
				margin-right: 24px;
				position: relative;
				padding-left: 22px;
			}

				.top-header-contact-info li i {
					left: 0;
					top: 3px;
					font-size: 16px;
					position: absolute;
				}

		.top-header-right {
			text-align: right;
		}

			.top-header-right ul {
				list-style-type: none;
				padding-left: 0;
				margin-bottom: 0;
			}

				.top-header-right ul li:first-child {
					padding-left: 0;
				}

				.top-header-right ul li .language-switcher {
					margin-right: -3px;
				}

		.d-inline-block {
			display: inline-block !important;
		}

		.navbar-area {
			padding: 0;
			position: relative;
			background-color: #fff;
		}

		.naxai-responsive-nav {
			display: none;
		}

		.naxai-nav .container-fluid {
			padding-left: 40px;
			padding-right: 40px;
		}

		.naxai-nav .navbar {
			padding: 0;
			position: inherit;
		}


		.navbar,
		.navbar .container,
		.navbar .container-fluid,
		.navbar .container-lg,
		.navbar .container-md,
		.navbar .container-sm,
		.navbar .container-xl {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}

		.naxai-nav .navbar .navbar-brand {
			font-size: inherit;
			line-height: 1;
			padding: 0;
		}

		.navbar-light .navbar-brand,
		.navbar-light .navbar-brand:focus,
		.navbar-light .navbar-brand:hover {
			color: rgba(0, 0, 0, .9);
		}

		.navbar-brand {
			display: inline-block;
			padding-top: 0.3125rem;
			padding-bottom: 0.3125rem;
			margin-right: 1rem;
			font-size: 1.25rem;
			line-height: inherit;
			white-space: nowrap;
		}

		.collapse:not(.show) {
			display: none;
		}

		.navbar-collapse {
			flex-basis: 100%;
			flex-grow: 1;
			align-items: center;
		}

		.naxai-nav .navbar .navbar-nav {
			margin-left: 65px;
			position: relative;
		}

		.naxai-nav .navbar ul {
			padding-left: 0;
			list-style-type: none;
			margin-bottom: 0;
		}




		.navbar-nav {
			display: flex;
			flex-direction: column;
			padding-left: 0;
			margin-bottom: 0;
			list-style: none;
		}

		.naxai-nav .navbar .navbar-nav .nav-item:first-child {
			margin-left: 0;
		}

		.naxai-nav .navbar .navbar-nav .nav-item {
			position: relative;
			margin-left: 13px;
			margin-right: 13px;
		}

			.naxai-nav .navbar .navbar-nav .nav-item a {
				position: relative;
				color: #1a2238;
				font-weight: 500;
				font-size: 15px;
				padding: 30px 0;
			}

		.navbar-light .navbar-nav .nav-link {
			color: rgba(0, 0, 0, .5);
		}

		}



		.navbar-nav .nav-link {
			padding-right: 0;
			padding-left: 0;
		}

		.nav-link {
			display: block;
			padding: 0.5rem 1rem;
		}

		.naxai-nav .navbar .others-option {
			margin-left: auto;
		}

		.align-items-center {
			align-items: center !important;
		}

		.d-flex {
			display: flex !important;
		}

		.naxai-nav .navbar .others-option .option-item:first-child {
			margin-left: 0;
		}

		.naxai-nav .navbar .others-option .option-item {
			position: relative;
			margin-left: 25px;
		}

		.naxai-nav .navbar ul {
			padding-left: 0;
			list-style-type: none;
			margin-bottom: 0;
		}

		.social-links {
			padding-left: 0;
			list-style-type: none;
			margin-bottom: 0;
			display: flex;
			margin-top: 20px;
		}

			.social-links li {
				display: inline-block;
				margin-right: 8px;
				display: block;
				background-color: #373737;
				width: 33px;
				height: 33px;
				text-align: center;
				color: #fff;
				font-size: 17px;
				border-radius: 50%;
				position: relative;
			}

		a,
		a:hover {
			text-decoration: none;
		}

		.social-links li a i {
			left: 0;
			right: 0;
			top: 50%;
			margin-top: -0.5px;
			position: absolute;
			transform: translateY(-50%);
		}

		.bx {
			font-family: boxicons !important;
			font-weight: 400;
			font-style: normal;
			font-variant: normal;
			line-height: 1;
			display: inline-block;
			text-transform: none;
			speak: none;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.bxl-youtube:before {
			content: "\eeda";
		}

		.others-option-for-responsive {
			display: none;
		}

			.others-option-for-responsive .container {
				position: relative;
			}

		.container {
			max-width: 1230px;
		}

		.others-option-for-responsive .dot-menu {
			top: -31px;
			right: 65px;
			height: 30px;
			z-index: 999;
			padding: 0 10px;
			cursor: pointer;
			position: absolute;
		}

			.others-option-for-responsive .dot-menu .inner {
				display: flex;
				align-items: center;
				height: 30px;
			}

				.others-option-for-responsive .dot-menu .inner .circle {
					height: 5px;
					width: 5px;
					border-radius: 100%;
					margin: 0 2px;
					transition: .5s;
					background-color: #1a2238;
				}

		/* footer */
		.footer-area[_ngcontent-serverApp-c98] {
			background-color: #fff;
		}

		.pt-100,
		.ptb-100 {
			padding-top: 100px;
		}

		.single-footer-widget {
			margin-bottom: 30px;
		}

			.single-footer-widget .logo {
				margin-bottom: 20px;
			}

		.d-inline-block {
			display: inline-block !important;
		}

		a,
		a:hover {
			text-decoration: none;
		}

		a {
			outline: 0 !important;
			color: #1a2238;
			transition: .5s;
		}

		.copyright-area {
			margin-top: 70px;
			border-top: 1px solid #eee;
			padding-top: 25px;
			padding-bottom: 25px;
		}

		.align-items-center {
			align-items: center !important;
		}

		.copyright-area ul li:last-child {
			margin-right: 0;
		}

		.copyright-area ul li:first-child {
			margin-left: 0;
		}

		.copyright-area ul {
			padding-left: 0;
			margin-bottom: 0;
			text-align: right;
			list-style-type: none;
		}

			.copyright-area ul li {
				position: relative;
				display: inline-block;
				color: #666;
				margin-left: 13px;
				margin-right: 13px;
			}

				.copyright-area ul li a {
					display: block;
					color: #eee;
				}

		.single-footer-widget .links-list {
			padding-left: 0;
			margin-bottom: 0;
			list-style-type: none;
		}

			.single-footer-widget .links-list li a:hover:before {
				width: 100%;
			}

			.single-footer-widget .links-list li a:before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				height: 1px;
				background-color: #e01a33;
				width: 0;
				transition: .5s;
			}

			.single-footer-widget .links-list li a {
				position: relative;
				display: inline-block;
				color: #666;
			}

			.single-footer-widget .links-list li {
				margin-bottom: 12px;
			}

		.single-footer-widget h3 {
			font-size: 20px;
			position: relative;
			padding-bottom: 8px;
			margin-bottom: 25px;
		}

			.single-footer-widget h3:before {
				left: 0;
				bottom: 0;
				height: 2px;
				width: 40px;
				content: "";
				position: absolute;
				background-color: #e01a33;
			}

		.single-footer-widget .footer-contact-info {
			padding-left: 0;
			margin-bottom: 0;
			list-style-type: none;
		}

			.single-footer-widget .footer-contact-info li {
				margin-bottom: 12px;
				color: #666;
			}

		p {
			color: #666;
			font-size: 15px;
			margin-bottom: 15px;
			line-height: 1.8;
		}

		/* menu */
		.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu,
		.naxai-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
			opacity: 1;
			visibility: visible;
			margin-top: 0;
		}

		.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu {
			left: 0;
			top: 80px;
			opacity: 0;
			z-index: 99;
			border: none;
			width: 250px;
			display: block;
			padding: 10px 0;
			margin-top: 15px;
			border-radius: 0;
			position: absolute;
			visibility: hidden;
			background: #fff;
			transition: all .2s ease-in-out;
			box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
		}

		.naxai-nav .navbar ul {
			padding-left: 0;
			list-style-type: none;
			margin-bottom: 0;
		}



		.navbar-nav .dropdown-menu {
			position: static;
			float: none;
		}

		.dropdown-menu {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1000;
			display: none;
			float: left;
			min-width: 10rem;
			padding: 0.5rem 0;
			margin: 0.125rem 0 0;
			font-size: 1rem;
			color: #212529;
			text-align: left;
			list-style: none;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid rgba(0, 0, 0, .15);
			border-radius: 0.25rem;
		}

		.top-header-right ul li .language-switcher .dropdown-toggle {
			padding: 0;
			border: none;
			color: #1a2238;
			background-color: initial;
		}

		.top-header-area .container-fluid {
			padding-left: 40px;
			padding-right: 40px;
		}

		.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu,
		.naxai-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
			opacity: 1;
			visibility: visible;
			margin-top: 0;
		}

		.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
			margin: 0;
		}


		.naxai-nav .navbar .navbar-nav .nav-item:first-child {
			margin-left: 0;
		}

		.naxai-nav .navbar .navbar-nav .nav-item {
			position: relative;
			margin-left: 13px;
			margin-right: 13px;
		}

			.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
				display: block;
				padding: 9px 20px;
				position: relative;
				color: #1a2238;
				font-size: 15px;
				font-weight: 500;
			}

			.naxai-nav .navbar .navbar-nav .nav-item.active a,
			.naxai-nav .navbar .navbar-nav .nav-item:hover a {
				color: #e01a33;
			}

			.naxai-nav .navbar .navbar-nav .nav-item a.active,
			.naxai-nav .navbar .navbar-nav .nav-item a:focus,
			.naxai-nav .navbar .navbar-nav .nav-item a:hover {
				color: #e01a33;
			}

			.naxai-nav .navbar .navbar-nav .nav-item a {
				position: relative;
				color: #1a2238;
				font-weight: 500;
				font-size: 15px;
				padding: 30px 0;
			}

		.navbar-light .navbar-nav .nav-link:focus,
		.navbar-light .navbar-nav .nav-link:hover {
			color: rgba(0, 0, 0, .7);
		}

		.navbar-light .navbar-nav .nav-link {
			color: rgba(0, 0, 0, .5);
		}



		.navbar-nav .nav-link {
			padding-right: 0;
			padding-left: 0;
		}

		.nav-link:focus,
		.nav-link:hover {
			text-decoration: none;
		}

		a:hover {
			color: #e01a33;
		}

		.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
			top: 0;
			opacity: 0;
			right: auto;
			left: 250px;
			margin-top: 15px;
			visibility: hidden;
		}

		.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu {
			left: 0;
			top: 80px;
			opacity: 0;
			z-index: 99;
			border: none;
			width: 250px;
			display: block;
			padding: 10px 0;
			margin-top: 15px;
			border-radius: 0;
			position: absolute;
			visibility: hidden;
			background: #fff;
			transition: all .2s ease-in-out;
			box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
		}

		.naxai-nav .navbar ul {
			padding-left: 0;
			list-style-type: none;
			margin-bottom: 0;
		}



		.navbar-nav .dropdown-menu {
			position: static;
			float: none;
		}

		.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active,
		.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus,
		.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
			color: #e01a33;
			;
		}

		.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li a i {
			margin: 0;
			position: absolute;
			top: 50%;
			font-size: 20px;
			transform: translateY(-50%);
			right: 15px;
		}

		.dropdown-menu {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1000;
			display: none;
			float: left;
			min-width: 10rem;
			padding: 0.5rem 0;
			margin: 0.125rem 0 0;
			font-size: 1rem;
			color: #212529;
			text-align: left;
			list-style: none;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid rgba(0, 0, 0, .15);
			border-radius: 0.25rem;
		}

		.social-links li a {
			display: block;
			background-color: #373737;
			width: 33px;
			height: 33px;
			text-align: center;
			color: #fff;
			font-size: 17px;
			border-radius: 50%;
			position: relative;
		}

		.twitter:hover {
			background: #4fc3f7 !important
		}

		.linkedin:hover {
			background: rgb(10, 102, 194) !important
		}

		.youtube:hover {
			background: #e01a33 !important
		}

		body {
			margin: 0;
			font-family: Roboto, Helvetica Neue, sans-serif;
		}

		.h1,
		.h2,
		.h3,
		.h4,
		.h5,
		.h6,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #1a2238;
			font-weight: 700;
		}

		img {
			max-width: 100%;
			height: auto;
		}

		.scrolltop-button.gray {
			background-color: #212121;
			color: #fafafa;
		}

		.scrolltop-button {
			align-items: center;
			border: none;
			border-radius: 50%;
			bottom: 20px;
			box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
			cursor: pointer;
			display: flex;
			height: 40px;
			justify-content: center;
			position: fixed;
			right: 20px;
			transition: opacity .1 linear;
			width: 40px;
			z-index: 10000;
		}

			.scrolltop-button.gray .symbol-container,
			.scrolltop-button.gray .symbol-container span {
				color: #fafafa;
			}

			.scrolltop-button.gray {
				background-color: #212121;
				color: #fafafa;
			}

				.scrolltop-button.gray .symbol-container,
				.scrolltop-button.gray .symbol-container span {
					color: #fafafa;
				}

			.scrolltop-button .symbol-container span {
				font-size: 15px;
			}

		.mean-container .mean-bar,
		.mean-container .mean-bar * {
			box-sizing: initial;
		}

		.mean-container .mean-bar {
			float: left;
			width: 100%;
			position: relative;
			background: #0c1923;
			padding: 4px 0;
			min-height: 42px;
			z-index: 999999;
		}


		.mean-container a.meanmenu-reveal {
			width: 22px;
			height: 22px;
			padding: 13px 13px 11px;
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
			color: #fff;
			text-decoration: none;
			font-size: 16px;
			text-indent: -9999em;
			line-height: 22px;
			font-size: 1px;
			display: block;
			font-family: Arial, Helvetica, sans-serif;
			font-weight: 700;
		}


			.mean-container a.meanmenu-reveal span {
				display: block;
				background: #fff;
				height: 3px;
				margin-top: 3px;
			}



		.mean-container .mean-bar,
		.mean-container .mean-bar * {
			box-sizing: initial;
		}

		.mean-container .mean-nav {
			float: left;
			width: 100%;
			background: #0c1923;
			margin-top: 44px;
		}







			.mean-container .mean-nav ul {
				padding: 0;
				margin: 0;
				width: 100%;
				list-style-type: none;
			}





			.mean-container .mean-nav ul {
				padding: 0;
				margin: 0;
				width: 100%;
				list-style-type: none;
			}
	</style>
	<!-- Admin Dashboard CSS -->
	<style>
		.form-control {
			height: 40px !important;
			border-radius: 0;
		}

		.form-control {
			height: 52px;
			border-radius: 0;
			padding-left: 15px;
			border: none !important;
			color: #666;
			font-size: 15px;
			box-shadow: unset !important;
			transition: .2s;
			background-color: #f5f5f5 !important;
		}

		.mb-0 {
			margin-bottom: 0 !important;
		}

		.max-minHeight {
			min-height: 260px !important;
			max-height: 260px !important;
		}

		.border-r5 {
			border-radius: 5px;
		}

		/* login panel */
		.profile-authentication-area {
			height: 100vh;
			position: relative;
			background-color: #f3f3f3;
		}

		.ptb-100 {
			padding-top: 100px;
			padding-bottom: 100px;
		}

		.d-table {
			display: table !important;
		}

		.d-table {
			width: 100%;
			height: 100%;
		}

		.d-table-cell {
			vertical-align: middle;
		}

		.d-table-cell {
			display: table-cell !important;
		}

		.container {
			max-width: 1230px;
		}

		.signin-form {
			max-width: 500px;
			border-radius: 5px;
			padding: 40px 30px;
			background-color: #fff;
			margin-left: auto;
			margin-right: auto;
		}

		.mb-4,
		.my-4 {
			margin-bottom: 1.5rem !important;
		}

		.signin-form form button:hover {
			background-color: #000;
			color: #fff;
		}

		.signin-form form button {
			width: 100%;
			border: none;
			display: block;
			overflow: hidden;
			margin-top: 20px;
			border-radius: 5px;
			text-align: center;
			padding: 15px 30px 16px;
			color: #fff;
			transition: .2s;
			background-color: #e01a33;
			font-size: 15px;
			font-weight: 600;
		}
	</style>
</head>
<body>
	@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "adminpro-form", role = "form", id = "adminpro-form" }))
	{
		@Html.AntiForgeryToken()
		<div class="profile-authentication-area ptb-100">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="container">
						<div class="signin-form">
							<h3 class="text-center mb-4">ADMIN LOGIN PANEL</h3>


							<div class="form-group">
								@*<input type="text" class="form-control" placeholder="Username or email"
										   formControlName="userName"
										   [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
									<div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
										<div *ngIf="f.userName.errors.required">User-name is required</div>
									</div>*@
								@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.UserName)
							</div>
							<div class="form-group">
								@*<input type="password" placeholder="***********" formControlName="password"
										   [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control">
									<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
										<div *ngIf="f.password.errors.required">Password is required</div>
									</div>*@
								@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Password)
							</div>
							@*<button type="submit">Sign In</button>*@
							<button class="btn btn-danger btn-block" type="submit" id="submit-button">Sign in</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	}
</body>

</html>