﻿.author-section {
	background: antiquewhite;
	padding: 13px;
	margin: 0px;
}

.profile-image {
	border-radius: 50%;
	border: 1px solid #d4d4d4;
	width: 85px;
	height: 85px
}

.fs-11 {
	font-size: 11px;
}

.facebook:hover {
	background: #4245ff !important
}

.fs-14 {
	font-size: 14px;
}
.title-font {
	font-size: 1.25rem
}
.blog-img {
	background: url('https://viruspositive.com/blog-bg.f4aa815c13191893e766.jpg') !important;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.page-title-area {
	padding-top: 100px;
	padding-bottom: 100px;
}

.breadcrum {
	background: #f5f5f5;
	padding: 6px 15px;
	border-radius: 5px;
}

.p-15 {
	padding: 16px 30px;
}

.ml-2,
.mx-2 {
	margin-left: 0.5rem !important;
}

.mr-2,
.mx-2 {
	margin-right: 0.5rem !important;
}

.single-blog-post.without-bg-color {
	background-color: initial;
}

.single-blog-post,
.single-blog-post .post-image {
	border-radius: 10px;
}

.single-blog-post {
	margin-bottom: 30px;
	background-color: #f9f9f9;
}

	.single-blog-post .post-image {
		border-radius: 10px;
	}

		.single-blog-post .post-image a {
			border-radius: 10px;
			display: block;
			overflow: hidden;
		}

			.single-blog-post .post-image a img {
				border-radius: 10px;
				transition: .2s;
			}

	.single-blog-post.without-bg-color .post-content {
		padding: 25px 0 0;
	}

	.single-blog-post .post-content .meta {
		padding-left: 0;
		margin-bottom: 12px;
		list-style-type: none;
	}

		.single-blog-post .post-content .meta li {
			display: inline-block;
			margin-right: 15px;
			color: #666;
			position: relative;
			padding-left: 23px;
		}

	.single-blog-post .post-content h3 {
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 12px;
	}

p {
	color: var(--optionalColor);
	font-size: var(--fontSize);
	margin-bottom: 15px;
	line-height: 1.8;
}

.single-blog-post .post-content .link-btn {
	position: relative;
	padding-right: 20px;
	display: inline-block;
	color: var(--mainColor);
	margin-top: 5px;
	font-size: 15px;
	font-weight: 500;
}

img {
	max-width: 100%;
	height: auto;
}

.blog-details-desc .article-content .entry-meta {
	margin-bottom: 15px;
}

	.blog-details-desc .article-content .entry-meta ul {
		padding-left: 0;
		margin-bottom: 0;
		list-style-type: none;
	}

.entry-meta ul li {
	position: relative;
	margin-right: 0px;
	display: inline-block;
	color: #666;
}

.icon {
	color: #e01a33;
	font-size: 12px !important;
}

.blog-details-desc .article-content h3 {
	font-size: 22px;
	margin-bottom: 15px;
	margin-top: 25px;
}

.text-danger {
	color: #dc3545 !important;
}

.widget-area .widget_naxai_posts_thumb {
	position: relative;
	overflow: hidden;
}

.widget-area .widget {
	padding: 25px;
	margin-bottom: 30px;
	background-color: #f5f5f5;
}

	.widget-area .widget .widget-title {
		font-size: 19px;
		border-bottom: 1px solid #e3e1e1;
		margin: -25px -25px 25px;
		padding: 16px 25px 15px;
	}

.widget-area .widget_categories ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

	.widget-area .widget_categories ul li {
		display: block;
		margin-bottom: 13px;
	}

		.widget-area .widget_categories ul li a {
			display: flex;
			position: relative;
			align-items: center;
			display: inline-block;
			font-size: 15px;
			color: #666;
		}

			.widget-area .widget_categories ul li a:hover i {
				background-color: #e01a33;
				color: #fff;
			}

			.widget-area .widget_categories ul li a i {
				width: 28px;
				height: 28px;
				line-height: 30px;
				text-align: center;
				border-radius: 3px;
				margin-right: 10px;
				color: #e01a33;
				transition: .2s;
				background-color: #fff;
			}

.widget-area .widget:last-child {
	margin-bottom: 0;
}

.widget-area .tagcloud {
	margin-top: -8px;
}

	.widget-area .tagcloud a {
		border: none;
		border-radius: 3px;
		display: inline-block;
		padding: 7px 15px 6px;
		color: #666;
		font-size: 14px !important;
		background: #fff;
		margin-top: 8px;
		margin-right: 4px;
	}

		.widget-area .tagcloud a:hover {
			border: none;
			border-radius: 3px;
			display: inline-block;
			padding: 7px 15px 6px;
			color: #fff;
			font-size: 14px !important;
			background: #e01a33;
			margin-top: 8px;
			margin-right: 4px;
		}

.widget-area .widget_naxai_posts_thumb {
	position: relative;
	overflow: hidden;
}

.widget-area .widget {
	padding: 25px;
	margin-bottom: 30px;
	background-color: #f5f5f5;
}

	.widget-area .widget .widget-title {
		font-size: 19px;
		border-bottom: 1px solid #e3e1e1;
		margin: -25px -25px 25px;
		padding: 16px 25px 15px;
	}

/* category section */
.widget-area .widget_naxai_posts_thumb {
	position: relative;
	overflow: hidden;
}

.widget-area .widget {
	padding: 25px;
	margin-bottom: 30px;
	background-color: #f5f5f5;
}

	.widget-area .widget .widget-title {
		font-size: 19px;
		border-bottom: 1px solid #e3e1e1;
		margin: -25px -25px 25px;
		padding: 16px 25px 15px;
	}

.widget-area .widget_naxai_posts_thumb .item {
	margin-bottom: 20px;
	position: relative;
	padding-left: 95px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

.widget-area .widget_naxai_posts_thumb .item .thumb {
	top: 0;
	left: 0;
	width: 80px;
	float: unset;
	height: 100%;
	display: block;
	position: absolute;
}

a, a:hover {
	text-decoration: none;
}

.widget-area .widget_naxai_posts_thumb .item .thumb:before {
	width: 40px;
	height: 1px;
	left: 100%;
}

.widget-area .widget_naxai_posts_thumb .item .thumb:after, .widget-area .widget_naxai_posts_thumb .item .thumb:before {
	content: "";
	z-index: 1;
	top: 50%;
	left: 50%;
	opacity: 0;
	position: absolute;
	background-color: #fff;
	transform: translate(-50%,-50%);
	transition: all .8s cubic-bezier(.2,1,.22,1);
}

.widget-area .widget_naxai_posts_thumb .item .thumb .fullimage {
	width: 80px;
	height: 100%;
	display: inline-block;
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: 50% !important;
}

img {
	max-width: 100%;
	height: auto;
}

.widget-area .widget_naxai_posts_thumb .item .info .title {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 8px;
}

	.widget-area .widget_naxai_posts_thumb .item .info .title a {
		display: inline-block;
	}

.widget-area .widget_naxai_posts_thumb .item .info .meta {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

	.widget-area .widget_naxai_posts_thumb .item .info .meta li:last-child {
		margin-right: 0;
	}

	.widget-area .widget_naxai_posts_thumb .item .info .meta li {
		font-size: 14px;
		margin-right: 15px;
		position: relative;
		display: inline-block;
		color: #666;
	}


.widget-area .widget_naxai_posts_thumb .item .thumb:before {
	width: 40px;
	height: 1px;
	left: 100%;
}

.widget-area .widget_naxai_posts_thumb .item .thumb:after, .widget-area .widget_naxai_posts_thumb .item .thumb:before {
	content: "";
	z-index: 1;
	top: 50%;
	left: 50%;
	opacity: 0;
	position: absolute;
	background-color: #fff;
	transform: translate(-50%,-50%);
	transition: all .8s cubic-bezier(.2,1,.22,1);
}

.widget-area .widget_naxai_posts_thumb .item .thumb:after {
	height: 40px;
	width: 1px;
	top: 0;
}

.widget-area .widget_naxai_posts_thumb .item .thumb:after, .widget-area .widget_naxai_posts_thumb .item .thumb:before {
	content: "";
	z-index: 1;
	top: 50%;
	left: 50%;
	opacity: 0;
	position: absolute;
	background-color: #fff;
	transform: translate(-50%,-50%);
	transition: all .8s cubic-bezier(.2,1,.22,1);
}

