﻿.blog-img {
	background: url('../../Content/img/blog-bg.jpg') !important;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.page-title-area {
	padding-top: 100px;
	padding-bottom: 100px;
}

.breadcrum {
	background: #f5f5f5;
	padding: 6px 15px;
	border-radius: 5px;
}

.p-15 {
	padding: 16px 30px;
}

.ml-2, .mx-2 {
	margin-left: 0.5rem !important;
}

.mr-2, .mx-2 {
	margin-right: 0.5rem !important;
}

.single-blog-post.without-bg-color {
	background-color: initial;
}

.single-blog-post, .single-blog-post .post-image {
	border-radius: 10px;
}

.single-blog-post {
	margin-bottom: 30px;
	background-color: #f9f9f9;
}

	.single-blog-post .post-image {
		border-radius: 10px;
	}

		.single-blog-post .post-image a {
			border-radius: 10px;
			display: block;
			overflow: hidden;
		}

			.single-blog-post .post-image a img {
				border-radius: 10px;
				transition: .2s;
			}

	.single-blog-post.without-bg-color .post-content {
		padding: 25px 0 0;
	}

	.single-blog-post .post-content .meta {
		padding-left: 0;
		margin-bottom: 12px;
		list-style-type: none;
	}

		.single-blog-post .post-content .meta li {
			display: inline-block;
			margin-right: 15px;
			color: #666;
			position: relative;
			/*padding-left: 23px;*/
		}

	.single-blog-post .post-content h3 {
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 12px;
	}

p {
	color: var(--optionalColor);
	font-size: var(--fontSize);
	margin-bottom: 15px;
	line-height: 1.8;
}

.single-blog-post .post-content .link-btn {
	position: relative;
	padding-right: 20px;
	display: inline-block;
	color: var(--mainColor);
	margin-top: 5px;
	font-size: 15px;
	font-weight: 500;
}
