﻿.top-header-area {
	background-color: #f5f5f5;
	padding-top: 12px;
	padding-bottom: 12px;
}

.align-items-center {
	align-items: center !important;
}

.top-header-contact-info {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

	.top-header-contact-info li {
		display: inline-block;
		margin-right: 24px;
		position: relative;
		padding-left: 22px;
	}

		.top-header-contact-info li i {
			left: 0;
			top: 3px;
			font-size: 16px;
			position: absolute;
		}

.top-header-right {
	text-align: right;
}

	.top-header-right ul {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
	}

		.top-header-right ul li:first-child {
			padding-left: 0;
		}

		.top-header-right ul li .language-switcher {
			margin-right: -3px;
		}

.d-inline-block {
	display: inline-block !important;
}

.navbar-area {
	padding: 0;
	position: relative;
	background-color: #fff;
}

.naxai-responsive-nav {
	display: none;
}

.naxai-nav .container-fluid {
	padding-left: 40px;
	padding-right: 40px;
}

.naxai-nav .navbar {
	padding: 0;
	position: inherit;
}

@*@media (min-width: 768px) {
	.navbar-expand-md {
		flex-flow: row nowrap;
		justify-content: flex-start;
	}
}

*@

.navbar, .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.naxai-nav .navbar .navbar-brand {
	font-size: inherit;
	line-height: 1;
	padding: 0;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: rgba(0,0,0,.9);
}

.navbar-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

@*@media (min-width: 768px) {
	.navbar-expand-md .navbar-collapse {
		display: flex !important;
		flex-basis: auto;
	}

	*@
	.collapse:not(.show) {
		display: none;
	}

	.navbar-collapse {
		flex-basis: 100%;
		flex-grow: 1;
		align-items: center;
	}

	.naxai-nav .navbar .navbar-nav {
		margin-left: 65px;
		position: relative;
	}

	.naxai-nav .navbar ul {
		padding-left: 0;
		list-style-type: none;
		margin-bottom: 0;
	}
}

@*@media (min-width: 768px) {
	.navbar-expand-md .navbar-nav {
		flex-direction: row;
	}

	*@
	.navbar-nav {
		display: flex;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}

	.naxai-nav .navbar .navbar-nav .nav-item:first-child {
		margin-left: 0;
	}

	.naxai-nav .navbar .navbar-nav .nav-item {
		position: relative;
		margin-left: 13px;
		margin-right: 13px;
	}

		.naxai-nav .navbar .navbar-nav .nav-item a {
			position: relative;
			color: #1a2238;
			font-weight: 500;
			font-size: 15px;
			padding: 30px 0;
		}

	.navbar-light .navbar-nav .nav-link {
		color: rgba(0,0,0,.5);
	}
}

@*@media (min-width: 768px) {
	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
}

*@
.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.nav-link {
	display: block;
	padding: 0.5rem 1rem;
}

.naxai-nav .navbar .others-option {
	margin-left: auto;
}

.align-items-center {
	align-items: center !important;
}

.d-flex {
	display: flex !important;
}

.naxai-nav .navbar .others-option .option-item:first-child {
	margin-left: 0;
}

.naxai-nav .navbar .others-option .option-item {
	position: relative;
	margin-left: 25px;
}

.naxai-nav .navbar ul {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
}

.social-links {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
	display: flex;
	margin-top: 20px;
}

	.social-links li {
		display: inline-block;
		margin-right: 8px;
		display: block;
		background-color: #373737;
		width: 33px;
		height: 33px;
		text-align: center;
		color: #fff;
		font-size: 17px;
		border-radius: 50%;
		position: relative;
	}

a, a:hover {
	text-decoration: none;
}

.social-links li a i {
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -0.5px;
	position: absolute;
	transform: translateY(-50%);
}

.bx {
	font-family: boxicons !important;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	display: inline-block;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bxl-youtube:before {
	content: "\eeda";
}

.others-option-for-responsive {
	display: none;
}

	.others-option-for-responsive .container {
		position: relative;
	}

.container {
	max-width: 1230px;
}

.others-option-for-responsive .dot-menu {
	top: -31px;
	right: 65px;
	height: 30px;
	z-index: 999;
	padding: 0 10px;
	cursor: pointer;
	position: absolute;
}

	.others-option-for-responsive .dot-menu .inner {
		display: flex;
		align-items: center;
		height: 30px;
	}

		.others-option-for-responsive .dot-menu .inner .circle {
			height: 5px;
			width: 5px;
			border-radius: 100%;
			margin: 0 2px;
			transition: .5s;
			background-color: #1a2238;
		}
<!-- footer -->
.footer-area[_ngcontent-serverApp-c98] {
	background-color: #fff;
}

.pt-100, .ptb-100 {
	padding-top: 100px;
}

.single-footer-widget {
	margin-bottom: 30px;
}

	.single-footer-widget .logo {
		margin-bottom: 20px;
	}

.d-inline-block {
	display: inline-block !important;
}

a, a:hover {
	text-decoration: none;
}

a {
	outline: 0 !important;
	color: #1a2238;
	transition: .5s;
}

.copyright-area {
	margin-top: 70px;
	border-top: 1px solid #eee;
	padding-top: 25px;
	padding-bottom: 25px;
}

.align-items-center {
	align-items: center !important;
}

.copyright-area ul li:last-child {
	margin-right: 0;
}

.copyright-area ul li:first-child {
	margin-left: 0;
}

.copyright-area ul {
	padding-left: 0;
	margin-bottom: 0;
	text-align: right;
	list-style-type: none;
}

	.copyright-area ul li {
		position: relative;
		display: inline-block;
		color: #666;
		margin-left: 13px;
		margin-right: 13px;
	}

		.copyright-area ul li a {
			display: block;
			color: #eee;
		}

.single-footer-widget .links-list {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

	.single-footer-widget .links-list li a:hover:before {
		width: 100%;
	}

	.single-footer-widget .links-list li a:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		height: 1px;
		background-color: #e01a33;
		width: 0;
		transition: .5s;
	}

	.single-footer-widget .links-list li a {
		position: relative;
		display: inline-block;
		color: #666;
	}

	.single-footer-widget .links-list li {
		margin-bottom: 12px;
	}

.single-footer-widget h3 {
	font-size: 20px;
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 25px;
}

	.single-footer-widget h3:before {
		left: 0;
		bottom: 0;
		height: 2px;
		width: 40px;
		content: "";
		position: absolute;
		background-color: #e01a33;
	}

.single-footer-widget .footer-contact-info {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

	.single-footer-widget .footer-contact-info li {
		margin-bottom: 12px;
		color: #666;
	}

p {
	color: #666;
	font-size: 15px;
	margin-bottom: 15px;
	line-height: 1.8;
}

<!-- menu -->
.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu, .naxai-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	margin-top: 0;
}

.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu {
	left: 0;
	top: 80px;
	opacity: 0;
	z-index: 99;
	border: none;
	width: 250px;
	display: block;
	padding: 10px 0;
	margin-top: 15px;
	border-radius: 0;
	position: absolute;
	visibility: hidden;
	background: #fff;
	transition: all .2s ease-in-out;
	box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
}

.naxai-nav .navbar ul {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
}

@*@media (min-width: 768px) .navbar-expand-md .navbar-nav .dropdown-menu {
	position: absolute;
}

*@
.navbar-nav .dropdown-menu {
	position: static;
	float: none;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: 0.5rem 0;
	margin: 0.125rem 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 0.25rem;
}

.top-header-right ul li .language-switcher .dropdown-toggle {
	padding: 0;
	border: none;
	color: #1a2238;
	background-color: initial;
}

.top-header-area .container-fluid {
	padding-left: 40px;
	padding-right: 40px;
}

.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu, .naxai-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	margin-top: 0;
}

.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
	margin: 0;
}


.naxai-nav .navbar .navbar-nav .nav-item:first-child {
	margin-left: 0;
}

.naxai-nav .navbar .navbar-nav .nav-item {
	position: relative;
	margin-left: 13px;
	margin-right: 13px;
}

	.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
		display: block;
		padding: 9px 20px;
		position: relative;
		color: #1a2238;
		font-size: 15px;
		font-weight: 500;
	}

	.naxai-nav .navbar .navbar-nav .nav-item.active a, .naxai-nav .navbar .navbar-nav .nav-item:hover a {
		color: #e01a33;
	}

	.naxai-nav .navbar .navbar-nav .nav-item a.active, .naxai-nav .navbar .navbar-nav .nav-item a:focus, .naxai-nav .navbar .navbar-nav .nav-item a:hover {
		color: #e01a33;
	}

	.naxai-nav .navbar .navbar-nav .nav-item a {
		position: relative;
		color: #1a2238;
		font-weight: 500;
		font-size: 15px;
		padding: 30px 0;
	}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: rgba(0,0,0,.7);
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0,0,0,.5);
}

@*@media (min-width: 768px) .navbar-expand-md .navbar-nav .nav-link {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

*@
.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.nav-link:focus, .nav-link:hover {
	text-decoration: none;
}

a:hover {
	color: #e01a33;
}

.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
	top: 0;
	opacity: 0;
	right: auto;
	left: 250px;
	margin-top: 15px;
	visibility: hidden;
}

.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu {
	left: 0;
	top: 80px;
	opacity: 0;
	z-index: 99;
	border: none;
	width: 250px;
	display: block;
	padding: 10px 0;
	margin-top: 15px;
	border-radius: 0;
	position: absolute;
	visibility: hidden;
	background: #fff;
	transition: all .2s ease-in-out;
	box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
}

.naxai-nav .navbar ul {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
}

@*@media (min-width: 768px) .navbar-expand-md .navbar-nav .dropdown-menu {
	position: absolute;
}

*@
.navbar-nav .dropdown-menu {
	position: static;
	float: none;
}

.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active, .naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
	color: #e01a33;
	;
}

.naxai-nav .navbar .navbar-nav .nav-item .dropdown-menu li a i {
	margin: 0;
	position: absolute;
	top: 50%;
	font-size: 20px;
	transform: translateY(-50%);
	right: 15px;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: 0.5rem 0;
	margin: 0.125rem 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 0.25rem;
}

.social-links li a {
	display: block;
	background-color: #373737;
	width: 33px;
	height: 33px;
	text-align: center;
	color: #fff;
	font-size: 17px;
	border-radius: 50%;
	position: relative;
}

.twitter:hover {
	background: #4fc3f7 !important
}

.linkedin:hover {
	background: rgb(10, 102, 194) !important
}

.youtube:hover {
	background: #e01a33 !important
}

body {
	margin: 0;
	font-family: Roboto,Helvetica Neue,sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: #1a2238;
	font-weight: 700;
}

img {
	max-width: 100%;
	height: auto;
}

.scrolltop-button.gray {
	background-color: #212121;
	color: #fafafa;
}

.scrolltop-button {
	align-items: center;
	border: none;
	border-radius: 50%;
	bottom: 20px;
	box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
	cursor: pointer;
	display: flex;
	height: 40px;
	justify-content: center;
	position: fixed;
	right: 20px;
	transition: opacity .1 linear;
	width: 40px;
	z-index: 10000;
}

	.scrolltop-button.gray .symbol-container, .scrolltop-button.gray .symbol-container span {
		color: #fafafa;
	}

	.scrolltop-button.gray {
		background-color: #212121;
		color: #fafafa;
	}

		.scrolltop-button.gray .symbol-container, .scrolltop-button.gray .symbol-container span {
			color: #fafafa;
		}

	.scrolltop-button .symbol-container span {
		font-size: 15px;
	}

@*@media only screen and (max-width: 767px) {
	.naxai-responsive-nav .mean-container .mean-bar {
		background: transparent;
		position: absolute;
		z-index: 999;
		padding: 0;
	}
}

*@
.mean-container .mean-bar, .mean-container .mean-bar * {
	box-sizing: initial;
}

.mean-container .mean-bar {
	float: left;
	width: 100%;
	position: relative;
	background: #0c1923;
	padding: 4px 0;
	min-height: 42px;
	z-index: 999999;
}

@*@media only screen and (max-width: 767px) {
	.naxai-responsive-nav .mean-container a.meanmenu-reveal {
		top: 0;
		width: 35px;
		height: 30px;
		padding: 6px 0 0;
		color: var(--blackColor);
		font-family: var(--fontFamily);
	}
}

*@
.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 700;
}

@*@media only screen and (max-width: 767px) {
	.naxai-responsive-nav .mean-container a.meanmenu-reveal span {
		background: var(--blackColor);
		height: 4px;
		margin-top: -6px;
		border-radius: 3px;
		position: relative;
		top: 8px;
	}
}

*@
.mean-container a.meanmenu-reveal span {
	display: block;
	background: #fff;
	height: 3px;
	margin-top: 3px;
}

@*@media only screen and (max-width: 767px) {
	.naxai-responsive-nav .naxai-responsive-menu.mean-container .mean-nav {
		margin-top: 51px;
		background-color: #fff;
	}
}

*@
.mean-container .mean-bar, .mean-container .mean-bar * {
	box-sizing: initial;
}

.mean-container .mean-nav {
	float: left;
	width: 100%;
	background: #0c1923;
	margin-top: 44px;
}

@*@media only screen and (max-width: 1199px) {

	.naxai-responsive-nav .naxai-responsive-menu.mean-container .navbar-nav {
		height: 350px;
		overflow-y: scroll;
		box-shadow: 0 7px 13px 0 rgb(0 0 0 / 10%);
	}
}

@media only screen and (max-width: 767px) {
	.naxai-responsive-nav .naxai-responsive-menu.mean-container .mean-nav ul {
		font-size: 14px;
		border: none !important;
	}
}

@media only screen and (max-width: 767px) {
	.naxai-responsive-nav .naxai-responsive-menu.mean-container .navbar-nav {
		height: 350px;
		overflow-y: scroll;
		box-shadow: 0 7px 13px 0 rgb(0 0 0 / 10%);
	}
}

*@
.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

@*@media only screen and (max-width: 1199px) {
	.naxai-responsive-nav .logo {
		position: relative;
		width: 60%;
		z-index: 999;
	}
}

@media only screen and (max-width: 1199px) {
	.naxai-responsive-nav .naxai-responsive-menu.mean-container .navbar-nav {
		height: 350px;
		overflow-y: scroll;
		box-shadow: 0 7px 13px 0 rgb(0 0 0 / 10%);
	}
}

@media only screen and (max-width: 767px) {
	.naxai-responsive-nav .naxai-responsive-menu.mean-container .mean-nav ul {
		font-size: 14px;
		border: none !important;
	}
}

@media only screen and (max-width: 767px) {
	.naxai-responsive-nav .naxai-responsive-menu.mean-container .navbar-nav {
		height: 350px;
		overflow-y: scroll;
		box-shadow: 0 7px 13px 0 rgb(0 0 0 / 10%);
	}
}

*@
.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

@*@media only screen and (max-width: 767px) {
	.naxai-responsive-nav .naxai-responsive-menu.mean-container .mean-nav {
		margin-top: 51px;
		background-color: #fff;
	}
}

*@
