﻿
.webinar-img {
    background: url('https://viruspositive.com/assets/img/webinar.jpg');
}

.page-title-area {
    padding-top: 100px;
    padding-bottom: 100px;
}

.breadcrum {
    background: #f5f5f5;
    padding: 6px 15px;
    border-radius: 5px;
}

.p-15 {
    padding: 16px 30px;
}

.ml-2,
.mx-2 {
    margin-left: 0.5rem !important;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

p {
    color: #666;
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 1.8;
}

.lets-talk-area {
    background-image: url('https://viruspositive.com/bg2.17507ca160aca2c88865.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.lets-talk-content {
    text-align: center;
    color: #fff;
}

    .lets-talk-content h2 {
        font-size: 35px;
        margin-bottom: 20px;
        color: var(--whiteColor);
    }

    .lets-talk-content p {
        opacity: .9;
        max-width: 540px;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
    }

    .lets-talk-content .default-btn {
        margin-top: 10px;
        color: #fff;
        background-color: #000;
    }

        .lets-talk-content .default-btn:hover {
            margin-top: 10px;
            background-color: #fff;
            color: #000;
        }

.default-btn {
    display: inline-block;
    text-align: center;
    background-color: #e01a33;
    color: #fff;
    padding: 13.5px 60px 13px 35px;
    position: relative;
    transition: .2s;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    font-weight: 600;
}

.pt-100,
.ptb-100 {
    padding-top: 100px;
}

.ptb-100 {
    padding-bottom: 100px;
}

.lets-talk-content .default-btn {
    margin-top: 10px;
    color: #fff;
    background-color: #000;
}

.default-btn:hover {
    color: #fff;
    background-color: #000;
}

a:hover {
    color: #e01a33;
}

.bx {
    font-family: boxicons !important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* subscribe */
.subscribe-area {
    position: relative;
    z-index: 1;
}

.bg-d8eafe {
    background-color: #d8eafe;
}

.subscribe-area::before {
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    z-index: -1;
    content: "";
    position: absolute;
    background-color: #fff;
}

.subscribe-inner-area {
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('https://viruspositive.com/assets/img/bg7.jpg');
}

.ptb-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.subscribe-inner-area .content {
    text-align: center;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

    .subscribe-inner-area .content h2 {
        color: #fff;
        margin-bottom: 35px;
        font-size: 30px;
    }

    .subscribe-inner-area .content .newsletter-form {
        position: relative;
        margin-bottom: 25px;
        padding-right: 195px;
    }

    .subscribe-inner-area .content p {
        color: #fff;
        line-height: initial;
        font-size: 15px;
    }

p:last-child {
    margin-bottom: 0;
}

.subscribe-inner-area .content .newsletter-form .input-newsletter {
    width: 100%;
    height: 50px;
    border: none;
    display: block;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 15px;
    color: #1a2238;
    background-color: #fff;
}

button,
input {
    overflow: visible;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.subscribe-inner-area .content .newsletter-form {
    position: relative;
    margin-bottom: 25px;
    padding-right: 195px;
}

.form-group {
    margin-bottom: 1rem;
}

.subscribe-inner-area .content .newsletter-form button {
    top: 0;
    right: 0;
    border: none;
    height: 50px;
    padding: 0 30px;
    border-radius: 5px;
    position: absolute;
    color: #fff;
    transition: .2s;
    background-color: #e01a33;
    font-size: 15px;
    font-weight: 600;
}

/* end subscribe */

/* page content */
.faq-tabs {
    text-align: center;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 40px;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.faq-tabs .nav-item:first-child {
    margin-left: 0;
}

.faq-tabs .nav-item {
    display: inline-block;
    flex: 1 1 auto !important;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}

    .faq-tabs .nav-item .nav-link {
        border: none;
        border-radius: 0;
        padding: 20px 30px;
        color: #1a2238;
        background-color: #f5f5f5;
        border-top: 5px solid #1a2238 !important;
        font-size: 17px;
        font-weight: 700;
    }

        .faq-tabs .nav-item .nav-link.active,
        .faq-tabs .nav-item .nav-link:hover {
            background-color: #e01a33;
            color: #fff;
        }

    .faq-tabs .nav-item .nav-link {
        border: none;
        border-radius: 0;
        padding: 20px 30px;
        color: 1a2238;
        background-color: #f5f5f5;
        border-top: 5px solid 1a2238;
        font-size: 17px;
        font-weight: 700;
    }

.fs-16 {
    font-size: 16px;
}

.faq-tab-content {
    padding: 0 40px 40px;
    border: 1px solid #f5f5f5;
    border-top: none;
}

.tab-content > .active {
    display: block;
}



.fade {
    transition: opacity 0.15s linear;
}

.single-blog-post.without-bg-color {
    background-color: transparent;
    border: 1px solid #ececec;
    max-height: 200px;
}

.single-blog-post {
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #f9f9f9;
}