﻿@model Vpt_Blogs.Models.BlogDetailsModel
@{
	Layout = null;
}
@Html.AntiForgeryToken()
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@Model.Title | Virus Positive Blog</title>

    <meta name="keywords" content="@Model.KeywordContent">
    <meta name="description" content="@Model.MetaContent">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
          rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <link href="~/Content/css/custom.css" rel="stylesheet" />

    <!-- Facebook linkedin Open Graph Tags -->
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.ShortDesc" />
    <meta property="og:image" content="@System.Configuration.ConfigurationManager.AppSettings["ImageUrl"]/UploadedBlogImages/@Model.ImagePath" />
    <!-- end -->

    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-208572302-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-208572302-1');
    </script>


    <!-- blog details start -->
    <link href="~/Content/css/blog-details.css" rel="stylesheet" />
    <!-- blog details end -->
    @*<link rel="stylesheet" href="css/blog-details.css">*@
</head>
<body>
    <div class="top-header-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <ul class="top-header-contact-info">
                        <li><i class="bx bxl-skype"></i>viruspositive</li>
                        <li><i class="bx bx-envelope"></i> sales@viruspositive.com</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="top-header-right">
                        <ul class="d-flex align-items-center justify-content-end">
                            <li>
                                <div class="dropdown language-switcher d-inline-block">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" class="dropdown-toggle">
                                        <img src="https://viruspositive.com/assets/img/flag/us.jpg" width="25px"
                                             alt="image">
                                        <span>Eng </span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-area">
        <div class="naxai-responsive-nav">
            <div class="container">
                <div class="naxai-responsive-menu mean-container">
                    <div class="logo" style="display:none">
                        <a href="/index">
                            <img src="https://viruspositive.com/assets/img/CompanyLogoWebsite.png"
                                 alt="Virus Positive Technologies - Brand Reputation &amp; Brand Compliance Monitoring Tools Company"
                                 style="width: 180px !important;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="naxai-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a routerlink="/" class="navbar-brand" href="/">
                        <img src="~/Content/img/CompanyLogoWebsite.png" alt="Virus Positive Technologies - Brand Reputation &amp; Brand Compliance Monitoring Tools Company" style="width: 180px !important;">
                    </a>
                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a routerlink="/index" class="nav-link" href="/index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="dropdown-toggle nav-link"
                                   href="https://viruspositive.com/services">Services</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerlinkactive="active"
                                           class="nav-link" href="https://viruspositive.com/services/affiliate-traps">
                                            Affiliate Traps<i _ngcontent-sc141="" class="bx bx-chevron-right"></i>
                                        </a>
                                        <ul class="dropdown-menu" style="width: 445px;">
                                            <li class="nav-item">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col">
                                                                <ul class="megamenu-submenu">
                                                                    <li>
                                                                        <a routerlinkactive="active"
                                                                           href="https://viruspositive.com/services/affiliate-traps/round-tripping">
                                                                            Adware
                                                                            Round Tripping
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a routerlinkactive="active"
                                                                           href="https://viruspositive.com/services/affiliate-traps/competitor-ads">
                                                                            Competitor
                                                                            Ads
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a routerlinkactive="active"
                                                                           href="https://viruspositive.com/services/affiliate-traps/cookie-hijacking">
                                                                            Cookie
                                                                            Hijacking
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a routerlinkactive="active"
                                                                           href="https://viruspositive.com/services/affiliate-traps/cookie-stuffing">
                                                                            Cookie
                                                                            Stuffing
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a routerlinkactive="active"
                                                                           href="https://viruspositive.com/services/affiliate-traps/price-comparison">
                                                                            Price
                                                                            Comparison
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a routerlinkactive="active"
                                                                           href="https://viruspositive.com/services/affiliate-traps/sweep-stack">
                                                                            Sweep
                                                                            Stakes
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a routerlinkactive="active"
                                                                           href="https://viruspositive.com/services/affiliate-traps/brand-bidding">
                                                                            Brand
                                                                            Biding
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a routerlinkactive="active"
                                                                           href="https://viruspositive.com/services/affiliate-traps/comment-spamming">
                                                                            Comment
                                                                            Spamming
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a routerlinkactive="active"
                                                                           href="https://viruspositive.com/services/affiliate-traps/forced-click">
                                                                            Forced
                                                                            Click
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a routerlinkactive="active"
                                                                           href="https://viruspositive.com/services/affiliate-traps/paid-ad-violation">
                                                                            Paid
                                                                            Ads Violation
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="col">
                                                            <ul class="megamenu-submenu">
                                                                <li>
                                                                    <a routerlinkactive="active"
                                                                       href="https://viruspositive.com/services/affiliate-traps/brand-infringment">
                                                                        Brand
                                                                        Infringement
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a routerlinkactive="active"
                                                                       href="https://viruspositive.com/services/affiliate-traps/ir">
                                                                        Immediate
                                                                        Redirection/Typo Squatting
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a routerlinkactive="active"
                                                                       href="https://viruspositive.com/services/affiliate-traps/improper-influence">
                                                                        Improper
                                                                        Influence
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a routerlinkactive="active"
                                                                       href="https://viruspositive.com/services/affiliate-traps/mis-direct">Misdirect</a>
                                                                </li>
                                                                <li>
                                                                    <a routerlinkactive="active"
                                                                       href="https://viruspositive.com/services/affiliate-traps/mis-deal">
                                                                        Misleading
                                                                        Deals
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a routerlinkactive="active"
                                                                       href="https://viruspositive.com/services/affiliate-traps/organic-listing">
                                                                        Organic
                                                                        Listing Modification
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a routerlinkactive="active"
                                                                       href="https://viruspositive.com/services/affiliate-traps/cloaking">Cloaking</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a routerlink="/services/anti-malware-research-lab"
                                           routerlinkactive="active" class="nav-link"
                                           href="https://viruspositive.com/services/anti-malware-research-lab">Anti Malware Research </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerlink="/services/assessment-services"
                                           routerlinkactive="active" class="nav-link"
                                           href="https://viruspositive.com/services/assessment-services">
                                            Assessment Services<i _ngcontent-sc141="" class="bx bx-chevron-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a routerlinkactive="active" class="nav-link"
                                                   href="https://viruspositive.com/services/assessment-services/product-engineering">
                                                    Product
                                                    Engineering
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a routerlinkactive="active" class="nav-link"
                                                   href="https://viruspositive.com/services/assessment-services/qa-testing">QA testing</a>
                                            </li>
                                            <li class="nav-item">
                                                <a routerlinkactive="active" class="nav-link"
                                                   href="https://viruspositive.com/services/assessment-services/automation">Automation</a>
                                            </li>
                                            <li class="nav-item">
                                                <a routerlinkactive="active" class="nav-link"
                                                   href="https://viruspositive.com/services/assessment-services/technical-support">
                                                    Technical
                                                    Support
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a routerlinkactive="active" class="nav-link"
                                           href="https://viruspositive.com/services/affiliate-management-services">
                                            Affiliate Management
                                            Services
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)"
                                   class="dropdown-toggle nav-link">Solutions</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="https://viruspositive.com/solutions/app2app" routerlinkactive="active"
                                           class="nav-link">App2App</a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerlinkactive="active"
                                           class="nav-link" href="https://viruspositive.com/solutions/affitraps">Affitraps</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:" routerlinkactive="active"
                                           class="nav-link">The Paid Click</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)"
                                   class="dropdown-toggle nav-link">Company</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerlinkactive="active"
                                           class="nav-link" href="https://viruspositive.com/about">About Our Company</a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerlinkactive="active"
                                           class="nav-link" href="https://viruspositive.com/careers">Careers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerlinkactive="active"
                                           class="nav-link" href="https://viruspositive.com/awards">Awards</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)"
                                   class="dropdown-toggle nav-link">Resources</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]/blog">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerlinkactive="active" class="nav-link"
                                           href="https://viruspositive.com/resource/white-paper">White Paper</a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerlinkactive="active"
                                           class="nav-link" href="https://viruspositive.com/resource/webinars">Webinars</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a routerlinkactive="active" class="nav-link"
                                   href="https://viruspositive.com/contact">Contact</a>
                            </li>
                        </ul>
                        <div class="others-option d-flex align-items-center">
                            <div class="option-item">
                                <ul class="social-links">
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCIqzO0dANqUUSrUExrE_jEw" class="youtube" target="_blank">

                                            <img src="@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]/Content/img/youtube.png" width="15px" style="padding-top:5px" />
                                        </a>
                                    </li>
                                    <li><a href="https://twitter.com/viruspositive" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/virus-positive-technologies/mycompany/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title-area blog-img">
        <div class="container">
            <div class="page-title-content">
                <h1></h1>
            </div>
        </div>
    </div>
    <!-- breadcrum start here -->
    <div class="container p-15">
        <div class="row breadcrum">
            <a href="https://viruspositive.com" routerlink="/">Home</a><span class="mr-2 ml-2">&gt;</span><span>Resources</span><span class="mr-2 ml-2">&gt;</span><span class="text-danger"><a href="@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]/">Blog</a></span><span class="mr-2 ml-2">&gt;</span><span class="text-danger">
                @Model.Title
            </span>
        </div>
    </div>
    <!-- breadcrum end here -->
    <!-- main content start -->
    <div class="container">
        <div class="main-services-slides">
            <div class="blog-area">
                <div class="container">
                    <section class="blog-details-area ptb-100">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="blog-details-desc">
                                    <div class="article-image">
                                        <img src="@System.Configuration.ConfigurationManager.AppSettings["ImageUrl"]/UploadedBlogImages/@Model.ImagePath"
                                             alt="@Model.AltTags">
                                    </div>
                                    <div class="article-content">
                                        <div class="entry-meta mt-3">
                                            <ul>
                                                <li style="font-size:11px"><i class="bx bx-user-circle icon" style="font-size:11px"></i> @Model.Author </li>

                                                <li style="font-size:11px"><i class="bx bx-calendar icon" style="font-size:11px"></i> @Model.CreatedDate.ToString(" MMM dd, yyyy")</li>
                                            </ul>
                                        </div>
                                        <h1 class="text-danger title-font">@Model.Title</h1>
                                        <!-- description starts here -->
                                        @Html.Raw(Model.Description)
                                        <!-- -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="widget-area mb-3">
                                    <div class="widget widget_naxai_posts_thumb">
                                        <h3 class="widget-title">Popular Posts</h3>
                                        @foreach (var item in Model.popularPosts)
                                        {

                                            <article class="item ng-star-inserted">
                                                <a class="thumb"
                                                   href="@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]/blogs/@Html.DisplayFor(model => item.Urlkey)">
                                                    <img alt="" role="img" class="fullimage cover"
                                                         src="@System.Configuration.ConfigurationManager.AppSettings["ImageUrl"]/UploadedBlogImages/@Html.DisplayFor(model => item.ImagePath)">
                                                </a>
                                                <div class="info">
                                                    <h4 class="title usmall">
                                                        <a href="@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]/blogs/@Html.DisplayFor(model => item.Urlkey)">
                                                            @Html.DisplayFor(model => item.Title)
                                                        </a>
                                                    </h4>
                                                    <ul class="meta">
                                                        <li>
                                                            <i class="bx bx-purchase-tag"></i> @Html.DisplayFor(model => item.Tags)
                                                        </li>
                                                    </ul>
                                                </div>
                                            </article>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- author details section start -->
                        <div class="row mt-2 author-section">
                            <div class="">
                                <div class="text-center">
                                    @if (Model.imageFile != "")
                                    {

                                        @*<img src="https://vptdashboard.com/VptBlog/UploadedAuthorImages/@Model.imageFile" width="50" height="40" />*@
                                        <img src = "@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]/UploadedAuthorImages/@Model.imageFile" width = "50" height = "40" />
                                    }
                                    else
                                    {
                                        <img src="@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]Content/img/user-profile.jpg" />
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="profile-details mt-2">
                                    <h6>@Model.Author  <span class=""> | @Html.Raw(Model.Designation)</span></h6>

                                    <p class="fs-14">@Html.Raw(Model.AboutAuthor)</p>
                                </div>
                            </div>
                            <div class="col-md-5 text-right ">
                                <div class="option-item float-right m-auto">
                                    <ul class="social-links">
                                        @if (Model.FacebookUrl != null && Model.FacebookUrl != "")
                                        {
                                            <li><a href="@Model.FacebookUrl" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                                        }
                                        @if (Model.TwitterUrl != null && Model.TwitterUrl != "")
                                        {

                                            <li><a href="@Model.TwitterUrl" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                                        }
                                        @if (Model.LinkedInUrl != null && Model.LinkedInUrl != "")
                                        {
                                            <li><a href="@Model.LinkedInUrl" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a></li>

                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- author details section end -->
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- main content end -->

    <div style="position: fixed; bottom: 40%; right: 0; z-index: 2;">
        <a href="javascript:">
            <img src="https://viruspositive.com/assets/img/enquireNow.png" alt="Enquire Now">
        </a>
    </div>
    <footer class="footer-area pt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-footer-widget">
                        <a routerlink="/" class="logo d-inline-block">
                            <img src="https://viruspositive.com/assets/img/CompanyLogoWebsite.png" width="278px"
                                 alt="Virus Positive Technologies - Brand Reputation &amp; Brand Compliance Monitoring Tools Company">
                        </a>
                        <p>
                            Virus Positive Technologies (VPT) is pioneering the market of Affiliate Fraud Management
                            &amp; Brand Protection.
                        </p>
                        <a href="https://cleanapps.org/supporters/" target="_blank">
                            <img src="https://viruspositive.com/assets/img/cleanapp.png" height="50px"
                                 alt="Charter Member - CleanApps">
                        </a>
                        <a href="">
                            <img src="https://viruspositive.com/assets/img/corporate.png" height="50px"
                                 alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-footer-widget">
                        <h3>Services</h3>
                        <ul class="links-list">
                            <li>
                                <a href="https://viruspositive.com/services/affiliate-traps">Affiliate Traps</a>
                            </li>
                            <li><a href="https://viruspositive.com/services/assessment-services">Assessment Services</a></li>
                            <li><a href="https://viruspositive.com/services/anti-malware-research-lab">Anti Malware Research</a></li>
                            <li>
                                <a href="https://viruspositive.com/services/affiliate-management-services">
                                    Affiliate Management
                                    Services
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-footer-widget pl-4">
                        <h3>Solutions</h3>
                        <ul class="links-list">
                            <li><a href="https://viruspositive.com/solutions/app2app">App2App</a></li>
                            <li><a href="https://viruspositive.com/solutions/affitraps">Affitraps</a></li>
                            <li><a href="javascript:">The Paid Click</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-6">
                    <div class="single-footer-widget">
                        <h3>Contact Info</h3>
                        <ul class="footer-contact-info">
                            <li>Vipul Trade Center, Unit#130-131,440, Sector-48, Gurugram-122001</li>
                            <li>Email: <a href="javascript:">sales@viruspositive.com</a></li>
                            <li>Phone: <a href="tel:01242666031">+ 91 - 124 - 2666031</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <p>Virus Positive Technologies Copyright © 2021-22 </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <ul>
                            <li><a routerlink="privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <button type="button" role="button" aria-label="Scroll to top of the page" tabindex="0"
            class="scrolltop-button gray ng-star-inserted">
        <div class="symbol-container">
            <span><i class="bx bx-chevron-up"></i></span>
        </div>
    </button>
    @*<script src="runtime.7b63b9fd40098a2e8207.js" defer=""></script>
        <script src="polyfills.70ffb02a82cc06d3b0cb.js" defer=""></script>
        <script src="scripts.9d05c5cde087a609a262.js" defer=""></script>
        <script src="main.c472bd762acde553a6c8.js" defer=""></script>*@
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
    <script>
        $('.scrolltop-button').on("click", function () {
            $(window).scrollTop(0);
        });
    </script>
</body>

</html>